# Ambientes e Cache
venv/
__pycache__/

# Variáveis de Ambiente (Segurança)
.env

# Pastas de Dados
data/
dados/

# Extensões de Arquivos de Dados e Modelos
*.json
*.csv
!dbt_classificacao_analytics/seeds/*.csv
*.xlsx
*.joblib

# Documento guia de interação com IA
docs/AI_PROJECT_INSTRUCTIONS.md

# Senha app
.streamlit/secrets.toml
logs/
